@font-face {
    font-family: lfm;
    src: url(../fonts/Arkhip_font.ttf);
}


/*SVG ANIMATION*/

@keyframes balance {
    0% {
        transform: skewY(5deg);
    }
    5% {
        transform: skewY(-1deg);
    }
    10% {
        transform: skewY(5deg);
    }
    100% {
        transform: skewY(5deg);
    }
}

@keyframes balancedroite {
    0% {
        transform: skewY(-10deg);
    }
    5% {
        transform: skewY(2deg);
    }
    10% {
        transform: skewY(-10deg);
    }
    100% {
        transform: skewY(-10deg);
    }
}

#oreille_gauche {
    animation-delay: 2s;
    animation-name: balance;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: right;
    animation-direction: alternate;
}

#oreille_droite {
    animation-name: balancedroite;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: left;
    animation-direction: alternate;
    transition-delay: 10s;
}


/*END SVG ANIMATION*/

svg {
    width: 100px;
    height: auto;
}

html {
    width: 100%;
    height: 100%;
}

#submit {
    color: #fff;
    text-shadow: #fff 0 0 10px;
    font-family: lfm;
    font-size: 2vmin;
    border-radius: 60px;
    width: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: none;
}

label {
    margin-top: 5%;
}


/*PLACEHOLDER COLOR*/

#emailp::-webkit-input-placeholder {
    /* Chrome */
    color: #DEDEDE;
    opacity: 1;
}

#emailp:-ms-input-placeholder {
    /* IE 10+ */
    color: #DEDEDE;
}

#emailp::-moz-placeholder {
    /* Firefox 19+ */
    color: #DEDEDE;
    opacity: 1;
}

#emailp:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #DEDEDE;
    opacity: 1;
}

#email::-webkit-input-placeholder {
    /* Chrome */
    color: #DEDEDE;
    opacity: 1;
}

#email:-ms-input-placeholder {
    /* IE 10+ */
    color: #DEDEDE;
}

#email::-moz-placeholder {
    /* Firefox 19+ */
    color: #DEDEDE;
    opacity: 1;
}

#email:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #DEDEDE;
    opacity: 1;
}


/*END OF PLACEHOLDER COLOR*/

#email {
    margin-top: 5%;
}

.form-control {
    color: black;
    border-radius: 0;
    border-color: #ccc;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
    background: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #5e9bfc;
}

.form-control:valid {
    box-shadow: none;
    background-image: url(../img/valid.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
}

h1 {
    font-family: lfm;
    color: #fff;
    text-shadow: #fff 0 0 10px;
    font-size: 2vmax;
}

h2 {
    font-family: lfm;
    color: #fff;
    text-shadow: #fff 0 0 10px;
    font-size: 2vmax;
    margin-top: 0;
}

body {
    background-repeat: no-repeat;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
}

form {
    margin-top: 12vh;
    padding-bottom: 5vh;
    -webkit-box-shadow: 1px 0px 40px -1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 1px 0px 40px -1px rgba(255, 255, 255, 1);
    box-shadow: 1px 0px 40px -1px rgba(255, 255, 255, 1);
    width: 30%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

#checkbox-text {
    font-weight: bold;
    margin: 0;
    color: white;
    margin-bottom: 6%;
}

#copyright {
    color: #fff;
    text-shadow: #fff 0 0 10px;
    font-family: lfm;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 2%;
}

#file-value {
    display: inline-block;
    margin-left: 4%;
    color: #fff;
    white-space: nowrap;
    width: 70%;
    overflow: hidden;
}

#button {
    font-family: lfm;
    color: #fff;
    text-shadow: #fff 0 0 10px;
    background: none;
    border-radius: 60px;
    font-size: 4vmin;
    margin-top: 9%;
    margin-bottom: 5%;
    width: 17%;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

#button:hover {
    box-shadow: inset 0px 0px 0px 3px #f7f7f7;
}

#button:hover:after {
    width: 0%;
}

.button {
    font-family: lfm;
    color: #fff;
    text-shadow: #fff 0 0 10px;
    border-radius: 60px;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

.button:hover {
    box-shadow: inset 0px 0px 0px 3px #f7f7f7;
}

.button:hover:after {
    width: 0%;
}


/*TEST TEST TEST TEST*/
